In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df_train = pd.read_csv('../Loan_approv_PyTorch/train.csv')
df_test = pd.read_csv('../Loan_approv_PyTorch/test.csv')
df_sub = pd.read_csv('../Loan_approv_PyTorch/sample_submission.csv')

In [5]:
df_train.head()

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,0,37,35000,RENT,0.0,EDUCATION,B,6000,11.49,0.17,N,14,0
1,1,22,56000,OWN,6.0,MEDICAL,C,4000,13.35,0.07,N,2,0
2,2,29,28800,OWN,8.0,PERSONAL,A,6000,8.90,0.21,N,10,0
3,3,30,70000,RENT,14.0,VENTURE,B,12000,11.11,0.17,N,5,0
4,4,22,60000,RENT,2.0,MEDICAL,A,6000,6.92,0.10,N,3,0

In [6]:
df_test.head()

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,58645,23,69000,RENT,3.0,HOMEIMPROVEMENT,F,25000,15.76,0.36,N,2
1,58646,26,96000,MORTGAGE,6.0,PERSONAL,C,10000,12.68,0.10,Y,4
2,58647,26,30000,RENT,5.0,VENTURE,E,4000,17.19,0.13,Y,2
3,58648,33,50000,RENT,4.0,DEBTCONSOLIDATION,A,7000,8.90,0.14,N,7
4,58649,26,102000,MORTGAGE,8.0,HOMEIMPROVEMENT,D,15000,16.32,0.15,Y,4

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58645 entries, 0 to 58644
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          58645 non-null  int64
 1   person_age                  58645 non-null  int64
 2   person_income               58645 non-null  int64
 3   person_home_ownership       58645 non-null  object
 4   person_emp_length           58645 non-null  float64
 5   loan_intent                 58645 non-null  object
 6   loan_grade                  58645 non-null  object
 7   loan_amnt                   58645 non-null  int64
 8   loan_int_rate               58645 non-null  float64
 9   loan_percent_income         58645 non-null  float64
 10  cb_person_default_on_file   58645 non-null  object
 11  cb_person_cred_hist_length  58645 non-null  int64
 12  loan_status                 58645 non-null  int64
dtypes: float64(3), int64(6), object(4)
memory usage: 5.8+ MB

In [8]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39098 entries, 0 to 39097
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39098 non-null  int64
 1   person_age                  39098 non-null  int64
 2   person_income               39098 non-null  int64
 3   person_home_ownership       39098 non-null  object
 4   person_emp_length           39098 non-null  float64
 5   loan_intent                 39098 non-null  object
 6   loan_grade                  39098 non-null  object
 7   loan_amnt                   39098 non-null  int64
 8   loan_int_rate               39098 non-null  float64
 9   loan_percent_income         39098 non-null  float64
 10  cb_person_default_on_file   39098 non-null  object
 11  cb_person_cred_hist_length  39098 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 3.6+ MB

In [9]:
df_train = df_train.drop('id', axis=1)
df_test = df_test.drop('id', axis=1)

In [10]:
set(df_test['person_home_ownership'].unique()).difference(set(df_train['person_home_ownership'].unique()))

set()

In [11]:
set(df_test['loan_intent'].unique()).difference(set(df_train['loan_intent'].unique()))

set()

In [12]:
set(df_test['loan_grade'].unique()).difference(set(df_train['loan_grade'].unique()))

set()

In [13]:
set(df_test['cb_person_default_on_file'].unique()).difference(set(df_train['cb_person_default_on_file'].unique()))

set()

In [17]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()

In [18]:
for i in df_test.columns:
    if df_train[i].dtype == object:
        df_train[i] = label.fit_transform(df_train[i])
        df_test[i] = label.transform(df_test[i])

In [19]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58645 entries, 0 to 58644
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  58645 non-null  int64
 1   person_income               58645 non-null  int64
 2   person_home_ownership       58645 non-null  int64
 3   person_emp_length           58645 non-null  float64
 4   loan_intent                 58645 non-null  int64
 5   loan_grade                  58645 non-null  int64
 6   loan_amnt                   58645 non-null  int64
 7   loan_int_rate               58645 non-null  float64
 8   loan_percent_income         58645 non-null  float64
 9   cb_person_default_on_file   58645 non-null  int64
 10  cb_person_cred_hist_length  58645 non-null  int64
 11  loan_status                 58645 non-null  int64
dtypes: float64(3), int64(9)
memory usage: 5.4 MB

In [20]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39098 entries, 0 to 39097
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  39098 non-null  int64
 1   person_income               39098 non-null  int64
 2   person_home_ownership       39098 non-null  int64
 3   person_emp_length           39098 non-null  float64
 4   loan_intent                 39098 non-null  int64
 5   loan_grade                  39098 non-null  int64
 6   loan_amnt                   39098 non-null  int64
 7   loan_int_rate               39098 non-null  float64
 8   loan_percent_income         39098 non-null  float64
 9   cb_person_default_on_file   39098 non-null  int64
 10  cb_person_cred_hist_length  39098 non-null  int64
dtypes: float64(3), int64(8)
memory usage: 3.3 MB

In [21]:
X_train = df_train.drop('loan_status', axis=1)
y_train = df_train['loan_status']
X_test = df_test.copy()

In [23]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [24]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [25]:
from keras.utils import to_categorical

In [26]:
y_train = to_categorical(y_train, num_classes=2)

In [27]:
y_train

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       ...,
       [0., 1.],
       [1., 0.],
       [1., 0.]], shape=(58645, 2))

In [28]:
X_train.shape

(58645, 11)

In [29]:
y_train.shape

(58645, 2)

In [30]:
X_test.shape

(39098, 11)

In [31]:
from keras import Sequential
from keras.layers import Dense
from keras.optimizers import Adam

In [32]:
model = Sequential()

model.add(Dense(units=64, activation='relu', input_shape=(11, )))
model.add(Dense(units=32, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

C:\Users\Admin\Desktop\ML BMW\venv\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [33]:
model.compile(optimizer=Adam(learning_rate=0.001), loss='binary_crossentropy', metrics=['accuracy'])

In [34]:
model.fit(X_train, y_train, validation_split=0.1, epochs=50)

Epoch 1/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 8s 4ms/step - accuracy: 0.9042 - loss: 0.2586 - val_accuracy: 0.9211 - val_loss: 0.2159
Epoch 2/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9205 - loss: 0.2259 - val_accuracy: 0.9280 - val_loss: 0.2050
Epoch 3/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.9247 - loss: 0.2162 - val_accuracy: 0.9303 - val_loss: 0.1967
Epoch 4/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9277 - loss: 0.2102 - val_accuracy: 0.9350 - val_loss: 0.1914
Epoch 5/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.9293 - loss: 0.2064 - val_accuracy: 0.9355 - val_loss: 0.1886
Epoch 6/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.9316 - loss: 0.2029 - val_accuracy: 0.9344 - val_loss: 0.1900
Epoch 7/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.9326 - loss: 0.2004 - val_accuracy: 0.9367 - val_loss: 0.1857
Epoch 8/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.9341 - loss: 0.1984 - val_accuracy: 0.9383 - val_loss: 0.1838
Epoch 9/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9364 - loss: 0.1953 - val_accuracy: 0.9376 - val_loss: 0.1853
Epoch 10/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.9387 - loss: 0.1929 - val_accuracy: 0.9403 - val_loss: 0.1823
Epoch 11/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.9399 - loss: 0.1901 - val_accuracy: 0.9437 - val_loss: 0.1780
Epoch 12/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.9408 - loss: 0.1878 - val_accuracy: 0.9441 - val_loss: 0.1813
Epoch 13/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9421 - loss: 0.1862 - val_accuracy: 0.9456 - val_loss: 0.1776
Epoch 14/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.9428 - loss: 0.1851 - val_accuracy: 0.9466 - val_loss: 0.1761
Epoch 15/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.9441 - loss: 0.1841 - val_accuracy: 0.9446 - val_loss: 0.1775
Epoch 16/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9441 - loss: 0.1830 - val_accuracy: 0.9465 - val_loss: 0.1735
Epoch 17/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.9434 - loss: 0.1823 - val_accuracy: 0.9463 - val_loss: 0.1772
Epoch 18/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9447 - loss: 0.1812 - val_accuracy: 0.9470 - val_loss: 0.1788
Epoch 19/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9448 - loss: 0.1807 - val_accuracy: 0.9465 - val_loss: 0.1751
Epoch 20/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 6s 4ms/step - accuracy: 0.9452 - loss: 0.1796 - val_accuracy: 0.9480 - val_loss: 0.1719
Epoch 21/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.9450 - loss: 0.1797 - val_accuracy: 0.9461 - val_loss: 0.1737
Epoch 22/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9453 - loss: 0.1788 - val_accuracy: 0.9454 - val_loss: 0.1769
Epoch 23/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.9459 - loss: 0.1787 - val_accuracy: 0.9480 - val_loss: 0.1724
Epoch 24/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9458 - loss: 0.1781 - val_accuracy: 0.9478 - val_loss: 0.1730
Epoch 25/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.9459 - loss: 0.1774 - val_accuracy: 0.9437 - val_loss: 0.1809
Epoch 26/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.9457 - loss: 0.1773 - val_accuracy: 0.9477 - val_loss: 0.1732
Epoch 27/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9461 - loss: 0.1769 - val_accuracy: 0.9477 - val_loss: 0.1761
Epoch 28/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.9466 - loss: 0.1762 - val_accuracy: 0.9454 - val_loss: 0.1767
Epoch 29/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.9462 - loss: 0.1761 - val_accuracy: 0.9475 - val_loss: 0.1747
Epoch 30/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.9466 - loss: 0.1759 - val_accuracy: 0.9482 - val_loss: 0.1759
Epoch 31/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9471 - loss: 0.1754 - val_accuracy: 0.9454 - val_loss: 0.1762
Epoch 32/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.9470 - loss: 0.1747 - val_accuracy: 0.9483 - val_loss: 0.1745
Epoch 33/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9468 - loss: 0.1746 - val_accuracy: 0.9473 - val_loss: 0.1744
Epoch 34/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.9469 - loss: 0.1740 - val_accuracy: 0.9473 - val_loss: 0.1788
Epoch 35/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.9463 - loss: 0.1740 - val_accuracy: 0.9482 - val_loss: 0.1743
Epoch 36/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.9472 - loss: 0.1735 - val_accuracy: 0.9478 - val_loss: 0.1729
Epoch 37/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9474 - loss: 0.1731 - val_accuracy: 0.9490 - val_loss: 0.1765
Epoch 38/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.9471 - loss: 0.1727 - val_accuracy: 0.9482 - val_loss: 0.1737
Epoch 39/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.9474 - loss: 0.1722 - val_accuracy: 0.9483 - val_loss: 0.1750
Epoch 40/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.9477 - loss: 0.1720 - val_accuracy: 0.9482 - val_loss: 0.1746
Epoch 41/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.9478 - loss: 0.1713 - val_accuracy: 0.9470 - val_loss: 0.1774
Epoch 42/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 6s 4ms/step - accuracy: 0.9481 - loss: 0.1713 - val_accuracy: 0.9468 - val_loss: 0.1758
Epoch 43/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 9s 6ms/step - accuracy: 0.9479 - loss: 0.1708 - val_accuracy: 0.9471 - val_loss: 0.1763
Epoch 44/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.9484 - loss: 0.1705 - val_accuracy: 0.9490 - val_loss: 0.1770
Epoch 45/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.9482 - loss: 0.1704 - val_accuracy: 0.9494 - val_loss: 0.1748
Epoch 46/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.9480 - loss: 0.1702 - val_accuracy: 0.9483 - val_loss: 0.1738
Epoch 47/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 7s 4ms/step - accuracy: 0.9483 - loss: 0.1700 - val_accuracy: 0.9480 - val_loss: 0.1743
Epoch 48/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 7s 4ms/step - accuracy: 0.9483 - loss: 0.1696 - val_accuracy: 0.9473 - val_loss: 0.1757
Epoch 49/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 7s 4ms/step - accuracy: 0.9484 - loss: 0.1691 - val_accuracy: 0.9478 - val_loss: 0.1737
Epoch 50/50
1650/1650 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.9484 - loss: 0.1692 - val_accuracy: 0.9470 - val_loss: 0.1752

In [35]:
y_pred = model.predict(X_test)

1222/1222 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step

In [36]:
df_sub['loan_status'] = y_pred[::, 1]

In [38]:
df_sub.to_csv('approval_sub.csv', index=False, index_label=False)